<div class="column">
  <h2 class="title pb-4">Login:</h2><hr>
  <form class="login-form">
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />

    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />

    <button type="submit" class="button is-primary">Login</button>
    <a href="/signup"><button type="button" class="button is-danger">Signup</button></a>
  </form>
</div>

<script src="/javascript/login.js"></script>