<div class="column">
  <h2 class="title pb-4">Create a new account:</h2><hr>
  <form class="signup-form">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />

    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />

    <label for="twitter-signup">Twitter:</label>
    <input type="text" id="twitter-signup" />

    <label for="github-signup">Github:</label>
    <input type="text" id="github-signup" />

    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />

    <button type="submit" class="button is-primary">Signup</button>
  </form>
</div>

<script src="/javascript/signup.js"></script>